.item {
    width: 500px;
    color: #353935;
    font-size: 22px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 10px; 
}

.line {
    border: 1px solid #ebebeb;
}

.dButton {
    float: right;
    border: none;
    border-radius: 3px;
    background: blueviolet;
    padding: 7px 20px;
    color: white;
    cursor: pointer;
}

.dButton:hover {
    outline: auto;
    outline-color: rgb(255, 0, 0);
}

.completed {
    text-decoration: line-through;
}